<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="assets/app.css">
    <title>Fighter Game</title>
</head>
<body ng-controller="MainController">

    <div ng-if="!user.name">
        Name: <input ng-model="user.name"/> <button ng-click="addUser()">JOIN</button>
    </div>

    <div ng-if="user.name && !game">
        <button ng-click="startGame()">START GAME</button>
    </div>

    <div id="scene" tabindex="0" ng-keydown="move($event)" ng-if="game">
        <div class="player" ng-style="{left:thisPlayer.location.x+'%', top:(50-thisPlayer.location.y)+'%'}">
            <img src="/assets/sprites/{{thisPlayer.state}}.gif">
        </div>
        <div class="player" ng-style="{left:otherPlayer.location.x+'%', top:(50-otherPlayer.location.y)+'%'}">
            <img src="/assets/sprites/{{otherPlayer.state}}.gif">
        </div>
    </div>
    
    <script type="text/javascript" src="assets/angular.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-database.js"></script>
    <script type="text/javascript" src="assets/app.js"></script>
</body>
</html>
