html {
    height: 100%;
}

body {
    font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
    display: flex;
    flex-direction:column;
}

#scene {
    position:relative;
    width:1000px;
    height: 700px;
    border:2px solid black;
    background-color: cadetblue;
}

.player {
    position: absolute;

}